Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git

# Ignore environment variables to ensure they are not baked into the image
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
