services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3001:3000"
    # --- เพิ่มบรรทัดนี้ ---
    env_file:
      - .env
    # --------------------
    # ส่วน environment เดิมสามารถลบทิ้งได้เลย หรือเก็บเฉพาะตัวที่อยาก Override
    environment:
      - NODE_ENV=production
    image: notcis07/nextjs-election:1.0.0
