services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3001:3001"
    env_file:
      - .env
    # ระบุให้ service นี้ใช้งาน network ชื่อ app-network
    networks:
      - app-network
    image: notcis07/nextjs-election:1.0.0

# ประกาศ network ที่มีอยู่แล้ว (External Network)
networks:
  app-network:
    external: true
